    /* Header styles css part */
    header {
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .logo{
        margin-left: 16px;
      }
      
      nav {
        background-color: #ffffff;
        overflow: hidden;
        flex-wrap: wrap;
    }
    
    nav a {
        
        float: right;
        display: block;
        color: #000000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    nav a:hover {
      border-bottom: 2px solid black;
    }